.slider{
    width: 300px;
    border-right: 1px solid #eee;
    margin-top: 50px;
    height: 300px;
    overflow: auto;
}

.slider dl dt{
    padding: 23px 30px;
    background: #eee;
}

.slider dl dd{
    margin-left: 30px;
    padding: 23px 20px;
    background: #eee;
}